body {
    background-color: #466fb6;
    font-family: "Syne Mono", monospace;
    padding: 2%;
    border: 5px solid white;
    box-shadow: 5px 5px 5px black;
}

h1 {
    font-family: "Syne Mono", monospace;
    padding: 2%;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

h2,
h3 {
  font-family: "Syne Mono", monospace;
  padding: 2%;
  font-size: 15px;
}

#message_input,
#message_output {
    width: 1000px;
    height: 50px;
}

footer {
    background-color: rgba(255, 166, 0, 0.808);
    color: white;
    padding: 15px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main {
    text-align: center;
}

#encrypt {
    padding: 10px;
    background-color: yellow;
    border-radius: 5px;
    color: black;
    margin: 15px;
}

.rotors {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}
